<div class="container-fluid py-5">
    <div class="row justify-content-around">
        <div class="col-md-3 mb-3">
            <div class="card bg-dark text-white">
                <div class="card-header">About</div>
                <div class="card-body">
                    <h4 class="card-title">About Us</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <div class="card bg-dark text-white">
                <div class="card-header">Contact</div>
                <div class="card-body">
                    <h4 class="card-title">Get in Touch</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <div class="card bg-dark text-white">
                <div class="card-header">Branches</div>
                <div class="card-body">
                    <h4 class="card-title">Our Locations</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </div>
</div>
