<nav class="navbar fixed-top navbar-expand-lg bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand text-light" routerLink="">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active text-light" aria-current="page" routerLink="">Home
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="/contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="services">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="profile">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="register">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="register">Register</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-light" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
