<div class="p-5 mb-4 bg-body-tertiary rounded-3" style="height: 100vh; display: flex; justify-content: center; align-items: center;">
  <div class="container-fluid text-center">
    <h1 class="display-5 fw-bold">EcoClean - Sustainable Cleaning for a Greener Tomorrow</h1>
    <p class="col-md-8 fs-4 mx-auto">Transforming your spaces with eco-friendly solutions. Cleaner homes, healthier planet.</p>
    <button type="button" class="btn" style="color: white; background-color: #b4dd1e;" routerLink="/about">Learn More</button>
  </div>
</div>