<div class="container py-5">
  <h4 class="mb-4 text-white text-center">Services</h4>
  <ul class="list-group">
    <li class="list-group-item bg-secondary border-0">
      <a href="" class="text-decoration-none text-white">Oil Change</a>
    </li>
    <li class="list-group-item bg-secondary border-0">
      <a href="" class="text-decoration-none text-white">Tire Replacement</a>
    </li>
    <li class="list-group-item bg-secondary border-0">
      <a href="" class="text-decoration-none text-white">Battery Inspection</a>
    </li>
    <li class="list-group-item bg-secondary border-0">
      <a href="" class="text-decoration-none text-white">Brake Check</a>
    </li>
    <li class="list-group-item bg-secondary border-0">
      <a href="" class="text-decoration-none text-white">Wheel Alignment</a>
    </li>
    <li class="list-group-item bg-secondary border-0">
      <a href="" class="text-decoration-none text-white">Engine Diagnostics</a>
    </li>
    <li class="list-group-item bg-secondary border-0">
      <a href="" class="text-decoration-none text-white">Air Conditioning Service</a>
    </li>
    <li class="list-group-item bg-secondary border-0">
      <a href="" class="text-decoration-none text-white">Transmission Repair</a>
    </li>
  </ul>
</div>
