<div class="p-5 mb-4 bg-body-tertiary rounded-3">
    <h1 class="display-2 text-center mt-3">Contact Us</h1>
    <p class="col-md-8 fs-4 mx-auto text-center">We’d love to hear from you! Whether you have a question, need a quote, or want to book our services, we’re here to help. Get in touch with us today!</p>
    <form>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Name</label>
            <input type="text" class="form-control" id="exampleInputEmail1">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Phone (Optional)</label>
            <input type="text" class="form-control" id="exampleInputEmail1">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Message</label>
            <input type="textarea" class="form-control" id="exampleInputEmail1" style="height: 100px; justify-content: baseline;">
        </div>
        <button type="submit" class="btn btn-primary" style="background-color: #b4dd1e;">Submit</button>
    </form>
    <div class="row m-5">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Contact Information</h5>
                    <ul class="card-text">
                        <li>Email: info(at)brat.com</li>
                        <li>Phone: 0999-777-777</li>
                        <li>Address: Planet Earth</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Social Media</h5>
                    <ul class="card-text">
                        <li>Facebook: EcoClean</li>
                        <li>Twitter: EcoClean Services</li>
                        <li>Instagram: (at)ecoclean_earth</li>
                    </ul>
            </div>
        </div>
    </div>
</div>