<div class="container py-5">
  <h4 class="mb-4 text-white text-center">Profile Form</h4>
  <form #profileForm="ngForm" (ngSubmit)="onSubmit(profileForm)">
    <h5 class="text-white mt-4">Full Name</h5>
    <div class="mb-3">
      <label for="firstName" class="form-label text-white">First Name</label>
      <input
        type="text"
        id="firstName"
        name="firstName"
        class="form-control bg-secondary text-white border-0"
        [(ngModel)]="formData.firstName"
        required
      />
    </div>
    <div class="mb-3">
      <label for="middleInitial" class="form-label text-white">Middle Initial</label>
      <input
        type="text"
        id="middleInitial"
        name="middleInitial"
        class="form-control bg-secondary text-white border-0"
        [(ngModel)]="formData.middleInitial"
        maxlength="1"
      />
    </div>
    <div class="mb-3">
      <label for="lastName" class="form-label text-white">Last Name</label>
      <input
        type="text"
        id="lastName"
        name="lastName"
        class="form-control bg-secondary text-white border-0"
        [(ngModel)]="formData.lastName"
        required
      />
    </div>

    <h5 class="text-white mt-4">Mailing Address</h5>
    <div class="mb-3">
      <label for="houseNumber" class="form-label text-white">House Number</label>
      <input
        type="text"
        id="houseNumber"
        name="houseNumber"
        class="form-control bg-secondary text-white border-0"
        [(ngModel)]="formData.houseNumber"
        required
      />
    </div>
    <div class="mb-3">
      <label for="street" class="form-label text-white">Street</label>
      <input
        type="text"
        id="street"
        name="street"
        class="form-control bg-secondary text-white border-0"
        [(ngModel)]="formData.street"
        required
      />
    </div>
    <div class="mb-3">
      <label for="barangay" class="form-label text-white">Barangay</label>
      <input
        type="text"
        id="barangay"
        name="barangay"
        class="form-control bg-secondary text-white border-0"
        [(ngModel)]="formData.barangay"
        required
      />
    </div>
    <div class="mb-3">
      <label for="city" class="form-label text-white">City</label>
      <input
        type="text"
        id="city"
        name="city"
        class="form-control bg-secondary text-white border-0"
        [(ngModel)]="formData.city"
        required
      />
    </div>
    <div class="mb-3">
      <label for="province" class="form-label text-white">Province/Municipality</label>
      <input
        type="text"
        id="province"
        name="province"
        class="form-control bg-secondary text-white border-0"
        [(ngModel)]="formData.province"
        required
      />
    </div>

    <h5 class="text-white mt-4">Identification</h5>
    <div class="mb-3">
      <label for="profileImage" class="form-label text-white">Profile Image</label>
      <input
        type="file"
        id="profileImage"
        name="profileImage"
        class="form-control bg-secondary text-white border-0"
        (change)="onFileSelected($event)"
      />
    </div>
    <div class="mb-3">
      <label for="email" class="form-label text-white">Email</label>
      <input
        type="email"
        id="email"
        name="email"
        class="form-control bg-secondary text-white border-0"
        [(ngModel)]="prefilledEmail"
        readonly
      />
    </div>
    <div class="mb-3">
      <label for="mobileNumber" class="form-label text-white">Mobile Number</label>
      <input
        type="tel"
        id="mobileNumber"
        name="mobileNumber"
        class="form-control bg-secondary text-white border-0"
        [(ngModel)]="formData.mobileNumber"
        required
      />
    </div>

    <button
      type="submit"
      class="btn btn-primary mt-3"
      [disabled]="!profileForm.valid"
      (click)="openModal()"
    >
      Save
    </button>
  </form>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="exampleModal" #modal>
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content bg-secondary text-white border-light">
      <div class="modal-header">
        <h5 class="modal-title">Form Submitted:</h5>
        <button
          type="button"
          class="btn-close btn-light"
          aria-label="Close"
          (click)="closeModal()"
        ></button>
      </div>
      <div class="modal-body">
        <p>
          Name:
          <b>{{ formData.firstName }} {{ formData.middleInitial }}
            {{ formData.lastName }}</b>
        </p>
        <p>
          Address:
          <b>{{ formData.houseNumber }} {{ formData.street }}
            {{ formData.barangay }} {{ formData.city }}
            {{ formData.province }}</b>
        </p>
        <p>Mobile Number: <b>{{ formData.mobileNumber }}</b></p>
        <p>Uploaded Image:</p>
        <img
          *ngIf="uploadedImageUrl"
          [src]="uploadedImageUrl"
          alt="Profile Picture"
          class="img-fluid border rounded"
          style="max-height: 200px;"
        />
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary"
          (click)="closeModal()"
        >
          Confirm
        </button>
      </div>
    </div>
  </div>
</div>
