<div class="p-5 mb-4 bg-body-tertiary rounded-3" style="height: 100vh;">
    <h1 class="display-2 text-center mt-3">Our Services</h1>
    <div class="row m-5">
        <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card">
            <div class="card-body">
                <h5 class="card-title">Residential Cleaning</h5>
                <p class="card-text">"Comprehensive cleaning services for your home. We ensure a sparkling clean house using only eco-friendly, non-toxic products."</p>
                <a href="/na" class="btn" style="color: white; background-color: #b4dd1e;">Book Now</a>
            </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
            <div class="card-body">
                <h5 class="card-title">Office Cleaning</h5>
                <p class="card-text">"Eco-friendly cleaning for your office. We’ll create a healthy workspace for your employees with environmentally conscious practices."</p>
                <a href="/na" class="btn" style="color: white; background-color: #b4dd1e;">Request a Quote</a>
            </div>
            </div>
        </div>
    </div>
    <div class="row m-5">
        <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card">
            <div class="card-body">
                <h5 class="card-title">Post-Construction Cleaning</h5>
                <p class="card-text">"Tidy up after a renovation or construction project. We’ll remove dust, debris, and leftover materials to make your space move-in ready."</p>
                <a href="/na" class="btn" style="color: white; background-color: #b4dd1e;">Get In Touch</a>
            </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
            <div class="card-body">
                <h5 class="card-title">Deep Cleaning</h5>
                <p class="card-text">"A thorough cleaning that tackles dirt and grime in every corner of your space. Ideal for seasonal cleaning or special occasions."</p>
                <a href="/na" class="btn" style="color: white; background-color: #b4dd1e;">Schedule Service</a>
            </div>
            </div>
        </div>
    </div>
</div>